<ion-content overflow-scroll="true" class="has-header">
    <div class="container-frame form-container">
        <ion-list lines="bottom">
            <form [formGroup]="createStoreForm" class="creating-form">
                <ion-title class="ion-header">Create Your Store</ion-title>
                <!--first step-->
                <div class="first-step" *ngIf="firstStep">
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="floating">First Name</ion-label>
                                <ion-input formControlName="firstName" type="text"></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating">Last Name</ion-label>
                                <ion-input formControlName="lastName" type="text"></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating">Email</ion-label>
                                <ion-input formControlName="email" type="text" required></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating">Mobile Number</ion-label>
                                <ion-input formControlName="mobile" type="text"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <div padding class="button-next">
                                <ion-button size="medium" type="submit" expand="block" (click)="goToNextStep('second')">
                                    Next
                                </ion-button>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>

                <!--second step-->
                <div class="second-step" *ngIf="seconStep">
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label position="floating">Store Name</ion-label>
                                <ion-input formControlName="storeName" type="text" (change)="checkStoreAvailability()"></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label position="floating">Password</ion-label>
                                <ion-input formControlName="password" type="password"></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-label>Select Plan</ion-label>
                                <ion-select formControlName="planName">
                                    <ion-select-option value="Gold ( $0.00 )">Gold ( $0.00 )</ion-select-option>
                                    <ion-select-option value="Silver($0.00)">Silver($0.00)</ion-select-option>
                                    <ion-select-option value="Bronze($0.00)">Bronze($0.00)</ion-select-option>
                                    <ion-select-option value=" ">Select Plan</ion-select-option>
                                </ion-select>
                            </ion-item>

                            <ion-item lines="none">
                                <ion-label>I have read and agree to the Terms & Conditions</ion-label>
                                <ion-checkbox color="primary" slot="start"></ion-checkbox>
                            </ion-item>
                        </ion-col>

                    </ion-row>

                    <ion-row>
                        <ion-col>
                            <div padding class="button-next">
                                <ion-button size="medium" type="submit" expand="block" (click)="goToNextStep('first')">
                                    Back
                                </ion-button>
                            </div>
                        </ion-col>

                        <ion-col>
                            <div padding class="button-next">
                                <ion-button size="medium" type="submit" expand="block" (click)="createStore()">
                                    Create My Store
                                </ion-button>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
            </form>
        </ion-list>
    </div>
</ion-content>