.my-custom-menu {
    --width: 500px;
}

.menu-icon {
    font-size: 28px;
}

.toggle-button {
    padding: 5px;
    background: transparent;
}

.creet-icon {
    position: absolute;
    right: 10px;
}

.menu-icon-list {
    margin-right: 10px;
    font-size: 15px;
}